


<div class="card"  style="width: 25%;">

  <div class="card-body">
<h1> To-Do List</h1>
<h3> A place to store your todos</h3>



<div class="searchContainer">
     <label></label>
     <input name="task" size="42" placeholder="Filter your to-do..."   />
</div> 

<br>

<div *ngFor="let list of todo; index as i">
  
  <tr> {{ i + 1 }}. <button (click)="completeTodo(list.task, i)"  > Complete</button>
  <span *ngIf ="stuffIsCompleted === false" >  {{list.task}}  </span> 
  &nbsp; &nbsp; &nbsp; <button (click)="removeTodo(list.task)">X</button>
</tr> <br>
</div>

<br> 


<!--  adding #userForm    and (ngModel) helps take input name value and pass 
      i to component --> 
<form  #userForm = "ngForm">
<div class="addTask">
  <label>Enter a new task : </label> <br>
  <input name="newtask" type = "text"  size="42" placeholder="Add your to-do" 
  [(ngModel)]="inputModel"  />
</div> 
<br>

</form>
<button type="submit" id="addButton" (click)="addTodo()" >Add</button>

</div>
</div>

