/* You can add global styles to this file, and also import other style files */

.card {
   margin-left: 50px;
   margin-top: 50px; 
   padding-left: 20px; 
   border: 2px solid black;
   align-content: center; 
}

#addButton {
   align-content: center;
   background-color: #ff1493;
   width: 400px;
   height : 35px;
   border : 1px;
   border-radius: 7px;

}

.input {
   width : 400px;
}

.column {
   float: left;
   padding: 10px;
   
 }
 
 .left {
   width: 10%;
 }
 
 .right {
   width: 20%;
 }
 

 .middle {
   width: 65%;
 }
 


 #buttonStyle {
   background-color: white;
   color: #ff69b4;
   border: 2px solid #ff69b4;
   border-radius: 7px;
 }

 #removeStyle {
   background-color: white;
   border: none;
 }